/* * {
    border: 1px solid rgb(204, 31, 31)
} */

* {
    font-family: 'Roboto', sans-serif;
}


body {
    font-size: 14px;
}

li {
    margin-left: -20px;
}

.v3_0 {
    /* width: 75em; */
    height: 0.5em;
    background: rgba(42, 174, 231, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: rgba(16, 18, 20, 1);
    position: relative;
    top: 1em;
    left: 0.6em;
    font-size: 24pt;
    text-align: left;
}

.title {
    color: rgba(42, 174, 230, 1);
    position: relative;
    top: 1.2em;
    left: 1em;
    font-weight: Bold;
    font-size: 16pt;
    text-align: left;
}

.contact_info_div {
    height: 6.9em;
    position: relative;
    top: 3em;
    left: 1.5em;
}

.contact_info_text {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 11pt;
    text-align: left;
    /* margin-left: 12em; */
}

.contact_info_icon {
    width: 1em;
    height: 1em;
    background-size: cover;
    vertical-align: middle;
}

.experience {
    height: 30em;
    position: relative;
    top: 5em;
    left: 1.5em;
}

.v14_6 {
    width: 335px;
    height: 22px;
    background: url("../images/v14_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.gray_headings {
    color: rgba(115, 128, 141, 1);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 10pt;
    opacity: 1;
    border-bottom: 1px solid rgba(115, 128, 141, 1);
    width: 100%;
}

.black_headings {
    font-weight: bold;
    font-size: 14pt;
}

.blue_headings {
    color: #2AAEE7;
    font-weight: 400;
    font-size: 12pt;
}

.no_bullet {
    list-style-type: none;
    margin-left: -15px;
    text-decoration: underline;
}

.skills_blue_headings {
    color: #2AAEE7;
    font-weight: bold;
    font-size: 11pt;
}

.timestamp {
    color: #73808D;
    font-weight: 400;
    font-size: 9pt;
}

.education {
    height: 23em;
    position: relative;
    top: 5em;
    left: 1.5em;
}

.v14_5 {
    width: 335px;
    height: 18px;
    background: url("../images/v14_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.volunteer_work {
    position: relative;
    top: 1.5em;
    left: 1.5em;
}

.passions {
    height: 7em;
    opacity: 1;
    position: relative;
    top: 1.5em;
    left: 1.5em;
}

.v27_17 {
    width: 16px;
    height: 16px;
    background: url("../images/v27_17.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 0px;
    overflow: hidden;
}

.v27_16 {
    width: 144px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 24px;
    left: 205px;
    font-weight: 400;
    font-size: 11px;
    opacity: 1;
    text-align: left;
}

.v27_18 {
    width: 16px;
    height: 16px;
    background: url("../images/v27_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 183px;
    overflow: hidden;
}

.v27_15 {
    width: 131px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 26px;
    left: 23px;
    font-weight: 400;
    font-size: 11px;
    opacity: 1;
    text-align: left;
}

.v1_5 {
    opacity: 1;
    position: relative;
    top: 0.45em;
    left: 1.5em;
    border-radius: 50%;
}

.summary {
    height: 9em;
    opacity: 1;
    position: relative;
    top: 1.5em;
    left: 1.5em;
}

.v14_7 {
    width: 139px;
    height: 18px;
    background: url("../images/v14_7.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.skills {
    height: 48em;
    opacity: 1;
    position: relative;
    top: 1.5em;
    left: 1.5em;
}